@font-face {
	font-family: TT Ramillas;
	font-display: swap;
	src: url("../fonts/TT Ramillas Bold Italic.woff2") format("woff2");
	font-weight: 700;
	font-style: italic;
}
@font-face {
	font-family: Gilroy;
	font-display: swap;
	src: url("../fonts/Gilroy-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}
