.bg {
  position: absolute;
  inset: 0;
  z-index: 0;
  overflow: hidden;
  img {

  }
}

.title {
  transform: skew(-10deg, 0deg);
  display: inline-block;
  width: max-content;
  &.title-01 {
    padding: toRem(8.5);
    background-color: #fff;
  }
  &.title-02 {
    @include adaptiveValue("padding", 16, 10,0,1440.98,480.98);
  }
  &.title-03 {
    @include adaptiveValue("padding", 7, 10,0,1440.98,480.98);
    @media (max-width: toEm(700.98)){
        width: auto;
    }
  }
  &.title-02,
  &.title-03 {
    background-color: #42A96E;
  }
  span {
    display: inline-block;
  }
  // .title__body
  &__body {
    background-color: #fff;
    border: toRem(2) solid #000;
    box-shadow: 4px 4px 11px 0 rgba(0, 0, 0, 0.4);
    font-style: italic;
    span {
      transform: skew(10deg, 0deg);
      .title-01 & {
        padding: toRem(13) toRem(30) toRem(16);
      }
      .title-02 & {
        text-align: center;
        @include adaptiveValue("padding-top", 20, 16,0,1440.98,480.98);
        @include adaptiveValue("padding-bottom", 20, 16,0,1440.98,480.98);
      }
      .title-03 & {
        padding-top: toRem(14);
        padding-bottom: toRem(16);
        text-align: center;
      }
      .title-02 &,
      .title-03 &  {
        @include adaptiveValue("padding-left", 42, 28,0,1440.98,480.98);
        @include adaptiveValue("padding-right", 42, 28,0,1440.98,480.98);
      }
    }
    .title-01 &,
    .title-03 &  {
      @include adaptiveValue("font-size", 41,34,0,1440.98,480.98);
      @media (max-width: toEm(375.98)) {
          font-size: toRem(26) !important;
      }
      @media (max-width: toEm(800.98)) and (max-height: toEm(500.98)) {
        font-size: toRem(26) !important;
      }
    }
    .title-02 & {
      @include adaptiveValue("font-size", 56,34,0,1440.98,480.98);
      @media (max-width: toEm(800.98)) and (max-height: toEm(500.98)) {
        font-size: toRem(26) !important;
      }
    }
  }
}

.button-wr {
  position: fixed;
  z-index: 8;
  left: 50%;
  transform: translate(-50%,100%);
  transition: transform .85s cubic-bezier(.18,1.08,.33,1.07), opacity .45s ease;
  opacity: 0;
  .loaded & {
    opacity: 1;
    transform: translate(-50%,0%);
  }
  .fp-section-2 &, 
  .fp-section-3 &, 
  .fp-section-4 & {
    opacity: 0;
    pointer-events: none;
  }
  @media (min-width:$mobileSmall){
    bottom: toRem(50);
  }
  @media (max-width:$mobileSmall){
     bottom: toRem(30) 
  }
  @media (max-width: toEm(800.98)) and (max-height: toEm(500.98)) {
    bottom: toRem(15);
  }
}
.btn {
  width: max-content;
  padding: toRem(24) toRem(54);
  border-radius: toRem(50);
  box-shadow: 20px 20px 25px 0 rgba(0, 0, 0, 0.45), inset 12px 8px 20px 0 rgba(255, 255, 255, 0.5);
  background-image: linear-gradient(180deg, #3ebd7b 0%, #296129 100%);
  transition: box-shadow .3s ease;
  &:hover{
    box-shadow: 0px 0px 0px 0 rgba(0, 0, 0, 0.45), inset 0px 0px 0px 0 rgba(255, 255, 255, 0.5);
  }
  span {
    font-family: "Gilroy";
    color: #fff;
    font-size: toRem(28);
    line-height: 0.6;
  }
}

%animFirstSecEl {
  transition: transform .85s cubic-bezier(.18,1.08,.33,1.07), opacity .3s ease, left .5s ease;
}

.product {
  position: fixed;
  z-index: 7;
  top: 50%;
  display: grid;
  pointer-events: none;
  
  @include adaptiveValue("gap", 90, 76,2,1920,1440.98);
  @include adaptiveValue("gap", 76, 35,3,1440.98,480.98);
  @media (orientation: portrait) {
    grid-template-columns: repeat(2,auto);
    justify-items: center;
    left: 50%;
  }
  @media (orientation: landscape) {
    grid-template-columns: repeat(3,auto);
    transform: translate(-78%, -43%) scale(0.3);
    left: 50%;
  }
  @media (orientation: portrait) and (min-width:$mobileSmall) {
    transform: translate(-78%, -55%) scale(0.5);
    left: 30%;
  }
  @media (max-width:$mobileSmall){
    transform: translate(-74%, -38%) scale(0.5);
    left: 30%;
  }
  @media (max-width: toEm(375.98)){
    gap: toRem(30) !important;
  }
  .fp-section-1 &,
  .fp-section-2 &,
  .fp-section-3 &,
  .fp-section-4 & {
    left: 50%;
  }
  .fp-section-0.fp-up & {
      transition: transform .85s ease, opacity .3s ease, left .5s ease;
      @media (orientation: landscape) {
        transform: translate(-78%, -43%) scale(0.3);
      }
      @media (orientation: portrait) and (min-width:$mobileSmall) {
        transform: translate(-78%, -55%) scale(0.5);
        left: 30%;
      }
      @media (max-width:$mobileSmall){
        transform: translate(-74%, -38%) scale(0.5);
      }
  }
  .fp-section-1 & {
    transform: translate(-50%,-50%);
    @extend %animFirstSecEl;
  }
  .fp-section-2 & {
    transform: translate(-50%,150%);
    transition: transform .85s ease;
    @extend %animFirstSecEl;
  }
  .fp-section-3 &,
  .fp-section-4 & {
    transition-delay: .2s;
    @extend %animFirstSecEl;
    @media (min-width:$mobileSmall){
      transform: translate(-50%,-40%);
    }
    @media (max-width: toEm(600.98)){
      transform: translate(-50%,-27%);
    }
    @media (max-width: toEm(800.98)) and (max-height: toEm(500.98)) {
      transform: translate(-50%,-25%);
    }
  }
  .fp-section-4 & {
    opacity: 0;
    transition-delay: 0s;
  }
 
  // .product__item
  &__item {
    position: relative;
    opacity: 0;
    .loaded & {
      opacity: 1;
      transition: transform .8s cubic-bezier(.18,1.08,.33,1.07), opacity .3s;
    }
    .fp-section-0.fp-up & {
      transition: transform .8s ease, opacity .3s;
    }
    &:after,
    &::before {
      content: '';
      position: absolute;
      z-index: -1;
      top: 50%;
      left: 50%;
      transition: .45s ease;
    }
    &::before {
      width: 105%;
      height: 103%;
      transform: translate(-52%, -50%);
      background-image: url(../img/baguette/mask.png);
      background-position: 100% 100%;
      background-repeat: no-repeat;
      background-size: 100%;
      opacity: 1;
      .fp-section-1 &,
      .fp-section-2 &,
      .fp-section-3 &,
      .fp-section-4 & {
        opacity: 0;
      }
    }
    &::after {
      width: 100%;
      height: 100%;
      transform: translate(-50%, -77%) scale(2.5);
      background-image: url(../img/baguette/mask2.png);
      background-position: 100% 100%;
      background-repeat: no-repeat;
      background-size: 100%;
      opacity: 0;
      .fp-section-1 &,
      .fp-section-2 &,
      .fp-section-3 &,
      .fp-section-4 & {
        opacity: 1;
      }
    }
    @include adaptiveValue("width", 300, 237,2,1920,1440.98);
    @include adaptiveValue("width", 237, 120,3,1440.98,480.98);
    @media (max-width: toEm(375.98)){
        width: toRem(100) !important;
    }
    &.item-1 {
      z-index: 1;
      @media (orientation: portrait) {
        grid-column: span 2;
        z-index: 3;
      }
      .fp-section-0 & {
        @media (orientation: landscape) {
          transform: translate(50%,0);
        }
        @media (orientation: portrait) and (min-width:$mobileSmall) {
          transform: translate(0, calc(100% + 50px));
        }
        @media (max-width:$mobileSmall){
          transform: translate(0, calc(100% + 30px));
        }
      }
    }
    &.item-2 {
      z-index: 2;
    }
    &.item-3 {
      z-index: 3;
      .fp-section-0 & {
        @media (orientation: landscape) {
          transform: translate(-50%,0);
        }
      }
    }
  }
}

%transformCubicB {
  transition: transform .85s cubic-bezier(.18,1.08,.33,1.07), opacity .3s ease;
}


.video-youtube {
  background-color: #fff;
  padding: toRem(10);
  width: 100%;
  @include adaptiveValue("max-width", 1000, 730,0,1920,1440.98);
  // .video-youtube__body
  &__body {
    position: relative;
    z-index: 2;
    background-color: #000;
    margin-inline: auto;
    width: 100%;
    aspect-ratio: 784/400;
    box-shadow: 4px 4px 11px 0 rgba(0, 0, 0, 0.4);
    iframe {
      width: 100%;
      height: 100%;
      object-fit: cover;
      aspect-ratio: 784/400;
    }
  }
  // .video-youtube__button
  &__button {
    overflow: hidden;
    position: relative;
    z-index: 0;
    width: 100%;
    @media (any-hover: hover){
      &:hover{
        &::before {
          transform: translate(-50%, -50%) scale(1.1);
        }
      }
    }
    &::before {
      content: '';
      position: absolute;
      pointer-events: none;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-image:url('../img/icons/play.svg');
      background-repeat: no-repeat;
      background-size: contain;
      transition: transform .65s ease;
      @include adaptiveValue("width", 100, 60,0,1400.98,480.98);
      @include adaptiveValue("height", 100, 60,0,1400.98,480.98);
    }
    img {}
  }
}

@keyframes animBaguette {
  0% {
    transform: scale(1.5) rotate(30deg);
  }
  100% {
    transform: scale(0.8) rotate(0deg);
  }
}

.baguette {
  position: fixed;
  z-index: 6;
  pointer-events: none;
  inset: 0;
  @extend %transformCubicB;
  .fp-section-4 & {
    animation: animBaguette 0.85s cubic-bezier(.18,1.08,.33,1.07) forwards;
  }
		// .baguette__body
		&__body {
      position: absolute;
      inset: 0;
      // overflow: hidden;
      opacity: 0;
      transform: scale(1.5) rotate(30deg);
      transform-origin: 50% 50%;
      @extend %transformCubicB;
      .loaded & {
        opacity: 1;
        transform: scale(1) rotate(0deg);
        transition-delay: .5s;
      }
      .fp-section-0.fp-up &,
      .fp-section-1 &,
      .fp-section-2 &,
      .fp-section-3 &,
      .fp-section-4 & {
        transition-delay: 0s;
      }
      .fp-section-0.fp-up & {
        transform: scale(1) rotate(0deg);
      }
      .fp-section-1 & {
        transform: scale(0.8) rotate(0deg);
      }
      .fp-section-2 & {
        transform: scale(1.1) rotate(3deg);
      }
      .fp-section-3 & {
        transform: scale(0.9) rotate(-5deg);
      }
		}
  // .baguette__item
  &__item {
    position: absolute;
    @extend %transformCubicB;
    img {
      max-width: 100%;
      height: auto;
    }
    &.item-1 {
      top: 0;
      left: 0;
      filter: blur(5px);
      -webkit-filter: blur(5px);
      img {
        @include adaptiveValue("width", 293, 226,2,1920,1440.98);
        @include adaptiveValue("width", 226, 246,3,1440.98,480.98);
      }
      @media (min-width:$tablet){
        transform: translate(-50%,-30%) rotate(-70deg);
      }
      @media (max-width:$tablet){
        transform: translate(-50%,-50%) rotate(-70deg);
      }
    }
    &.item-2 {
      top: 50%;
      left: 0;
      transform: translate(-50%,0%) rotate(20deg);
      img {
        @include adaptiveValue("width", 175, 134,2,1920,1440.98);
        @include adaptiveValue("width", 134, 120,3,1440.98,480.98);
      }
    }
    &.item-3 {
      bottom: 0;
      left: 0;
      transform: translate(-50%,70%) rotate(-20deg);
      filter: blur(3px);
      -webkit-filter: blur(3px);
      img {
        @include adaptiveValue("width", 565, 435,2,1920,1440.98);
        @include adaptiveValue("width", 435, 265,3,1440.98,480.98);
      }
    }
    &.item-4 {
      top: 0%;
      left: 50%;
      transform: translate(-50%,-100%) rotate(-140deg);
      img {
        @include adaptiveValue("width", 156, 120,2,1920,1440.98);
        @include adaptiveValue("width", 120, 74,3,1440.98,480.98);
      }
    }
    &.item-5 {
      bottom: 0%;
      left: 50%;
      transform: translate(0%,80%) rotate(0deg);
      img {
        @include adaptiveValue("width", 228, 175,2,1920,1440.98);
        @include adaptiveValue("width", 175, 130,3,1440.98,480.98);
      }
      .fp-section-3 & {
        opacity: 0;
      }
      .fp-section-4 & {
        transform: translate(80%,80%) rotate(0deg);
      }
    }
    &.item-6 {
      top: 0%;
      right: 0;
      transform: translate(50%,-50%) rotate(-110deg);
      filter: blur(3px);
      -webkit-filter: blur(3px);
      img {
        @include adaptiveValue("width", 436, 336,2,1920,1440.98);
        @include adaptiveValue("width", 336, 175,3,1440.98,480.98);
      }
    }
    &.item-7 {
      top: 50%;
      right: 0;
      transform: translate(40%,-50%) rotate(-20deg);
      img {
        @include adaptiveValue("width", 100, 75,2,1920,1440.98);
        @include adaptiveValue("width", 75, 82,3,1440.98,480.98);
      }
     
    }
    &.item-8 {
      bottom: 0;
      right: 0;
      transform: translate(40%,0%) rotate(-80deg);
      img {
        @include adaptiveValue("width", 192, 148,2,1920,1440.98);
        @include adaptiveValue("width", 148, 75,3,1440.98,480.98);
      }
    }
  }
}

