.section {
	// .section__wrapper
	&__wrapper {
    position: absolute;
    inset: 0;
    z-index: 1;
    overflow: hidden;
	}
}

// ===== SECTION 0 ===================================
.section-0 {
  .title {
    position: absolute;
    top: 13vh;
    @media (min-width: toEm(700.98)){
      right: 12vw;
    }
    @media (max-width: toEm(700.98)) and (min-height: toEm(450.98)) {
      left: 50%;
      transform: translate(-50%,0) skew(-10deg, 0deg);
    }
    @media (max-width: toEm(375.98)){
        top: toRem(20);
    }
    @media (max-width: toEm(800.98)) and (max-height: toEm(500.98)) {
        top: toRem(10);
        right: toRem(20);
    }
  }
}


// ===== SECTION 1 ===================================
.section-1 {
  .fp-section-0 & {
    opacity: 1 !important;
  }
  .bg {
    &::before {
      content:'';
      position: absolute;
      z-index: 1;
      inset: 0;
      background-color: rgba(0,0,0,0);
    }
    img {
      transition: filter .65s ;
      .fp-section-1 & {
        &::before {
          background-color: rgba(0,0,0,0.2);
        }
        @media (min-width:$mobileSmall){
          filter: blur(35px);
          -webkit-filter: blur(35px);
        }
        @media (max-width:$mobileSmall){
          filter: blur(25px);
          -webkit-filter: blur(25px);
        }
      }
    }
  }
}


// ===== SECTION 2 ===================================
.section-2 {

  .title {
    position: absolute;
    @extend %transformCubicB;
    @media (min-width:$mobileSmall){
      top: 50%;
      left: 11vw;
      transform: translate(-150%,-50%) skew(-10deg, 0deg);
      .fp-section-2 & {
          transform: translate(0%,-50%) skew(-10deg, 0deg);
          transition-delay: .15s;
        }
    }
    @media (max-width:$mobileSmall){
      left: 50%;
      bottom: toRem(50);
      transform: translate(-150%,0%) skew(-10deg, 0deg);
      .fp-section-2 & {
        transform: translate(-50%,0%) skew(-10deg, 0deg);
        transition-delay: .15s;
      }
    }
    
  }
}


// ===== SECTION 3 ===================================
.section-3 {
  z-index: initial !important;
  .fp-section-4 & {
    opacity: 1 !important;
  }
  .bg {
    img {
      filter: blur(22px);
      -webkit-filter: blur(22px);
    }
  }


}

.block-sl {
  position: fixed;
  z-index: 7;
  inset: 0;
  pointer-events: none;
  .title {
    position: absolute;
    top: 10vh;
    left: 50%;
    transform: translate(-50%,-100%) skew(-10deg, 0deg);
    opacity: 0;
    @extend %transformCubicB;
    @media (max-width: toEm(600.98)){
        top: toRem(40);
    }
    @media (max-width: toEm(375.98)){
        top: toRem(20);
    }
    @media (max-width:$mobileSmall) and (min-width: toEm(375.98)) {
        top: 8vh;
    }
    @media (max-width: toEm(800.98)) and (max-height: toEm(500.98)) {
      top: toRem(15);
    }
    .fp-section-3 &,
    .fp-section-4 & {
      opacity: 1;
      transform: translate(-50%,0%) skew(-10deg, 0deg);
      transition-delay: .2s;
    }
  }
  .section__wrapper {
    // overflow-y: auto;
    padding-inline: toRem(20);
    padding-bottom: toRem(20);
    display: flex;
    flex-direction: column;
    align-items: center;


  }
  .section-4__video {
    margin-bottom: toRem(30);
    transform: translateY(150%);
    opacity: 0;
    @extend %transformCubicB;
    .fp-section-4 & {
      opacity: 1;
      transform: translateY(0);
      pointer-events: all;
    }
    @media (min-width:toEm(700.98)){
      margin-top: calc(14vh + 90px);
    }
    @media (max-width:toEm(700.98)) and (min-width: toEm(600.98)) {
      margin-top: calc(14vh + 160px);
    }
    @media (max-width: toEm(600.98)){
      margin-top: calc(10vh + 160px);
    }
    @media (max-width:$mobileSmall) and (min-width: toEm(375.98)) {
      margin-top: calc(16vh + 160px);
      margin-bottom: toRem(60);
    }
    @media (max-width: toEm(800.98)) and (max-height: toEm(500.98)) {
      margin-top: toRem(15);
    }
  }
  .section-4__social {
    opacity: 0;
    transform: translateY(150%);
    @extend %transformCubicB;
    .fp-section-4 & {
      opacity: 1;
      transform: translateY(0);
      pointer-events: all;
    }
  }
  .video-youtube {
  }
  .video-youtube__body, 
  .video-youtube__button,
  .video-youtube__button iframe {
    @media (min-width:$mobileSmall){
      min-height: 50svh;
    }
    @media (max-width: toEm(800.98)) and (max-height: toEm(500.98)) {
      max-height: 75vh;
    }
  }
}

// ===== SECTION 4 ===================================
.section-4 {
  // .section__wrapper {
  //   // overflow-y: auto;
  //   padding-inline: toRem(20);
  //   padding-bottom: toRem(20);
  //   display: flex;
  //   flex-direction: column;
  //   align-items: center;


  // }
  // // .section-4__video
  // &__video {
  //   margin-bottom: toRem(30);
  //   transform: translateY(150%);
  //   @extend %transformCubicB;
  //   .fp-section-4 & {
  //     transform: translateY(0);
  //     // transition-delay: .2s;
  //   }
  //   @media (min-width:toEm(700.98)){
  //     margin-top: calc(14vh + 90px);
  //   }
  //   @media (max-width:toEm(700.98)) and (min-width: toEm(600.98)) {
  //     margin-top: calc(14vh + 160px);
  //   }
  //   @media (max-width: toEm(600.98)){
  //     margin-top: calc(10vh + 160px);
  //   }
  //   @media (max-width:$mobileSmall) and (min-width: toEm(375.98)) {
  //     margin-top: calc(16vh + 160px);
  //     margin-bottom: toRem(60);
  //   }
  //   @media (max-width: toEm(800.98)) and (max-height: toEm(500.98)) {
  //     margin-top: toRem(15);
  //   }
  // }
  // // .section-4__social
  // &__social {
  //   opacity: 0;
  //   transform: translateY(150%);
  //   @extend %transformCubicB;
  //   .fp-section-4 & {
  //     opacity: 1;
  //     transform: translateY(0);
  //     // transition-delay: .2s;
  //   }
  // }
  // .video-youtube {
  // }
  // .video-youtube__body, 
  // .video-youtube__button,
  // .video-youtube__button iframe {
  //   @media (min-width:$mobileSmall){
  //     min-height: 50svh;
  //   }
  //   @media (max-width: toEm(800.98)) and (max-height: toEm(500.98)) {
  //     max-height: 75vh;
  //   }
  // }
}

.social {
  
  // .social__list
  &__list {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: toRem(50);
  }
  // .social__item
  &__item {
    &:nth-child(1),
    &:nth-child(3) {
      .social__link {
        &::before {
          bottom: 0;
          transform: translate(-50%,200%) scale(2);
        }
        @media (any-hover: hover){
          &:hover{
            &::before {
              transform: translate(-50%,-50%) scale(3);
            }
            path {
              fill: #fff;
            }
          }
        }
      }
    }
    &:nth-child(2) {
      .social__link {
        &::before {
          top: 0;
          transform: translate(-50%,-200%) scale(2);
        }
        @media (any-hover: hover){
          &:hover{
            &::before {
              transform: translate(-50%,-50%) scale(3);
            }
            path {
              fill: #fff;
            }
          }
        }
      }
    }
  }
  // .social__link
  &__link {
    overflow: hidden;
    display: inline-block;
    background-color: #fff;
    border: toRem(2) solid #000;
    position: relative;
    box-shadow: 20px 20px 25px 0 rgba(0, 0, 0, 0.45);
    &::before {
      content:'';
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      z-index: 0;
      background-color: #41A56B;
      left: 50%;
      transition: transform .45s ease;
    }
    svg {
      position: relative;
      z-index: 2;
      path {
        transition: fill .45s ease;
      }
    }
  }
}


